<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - MVC - <a asp-area="" asp-controller="Home" asp-action="ShowWorkers">Show Workers</a>- <a asp-area="" asp-controller="Home" asp-action="ShowProjects">Show Projects</a>
    </div>
</footer>