@model IQueryable<Project>
@{
}

<div>
    @if (Model.Any())
    {
        <ul>
            @foreach (var entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="ProjectItem" asp-action="Index" asp-route-id="@entity.id">
                        Link
                    </a>
                    <h4>@entity.name</h4>
                    <p>@entity.executor</p>
                </li>
            }
        </ul>
    }
</div>